html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: consolas;
  overflow: hidden;
}

p {
  font-size: medium;
}

h1 {
  font: normal 140% consolas;
}

section {
  float: right;
  width: 70%;
}

aside {
  float: left;
  width: 30%;
}


#blocklyDiv {
  height: 480px;
  width: 800px;
}

#toolbox {
  display: none;
}
