
@font-face {
  font-family: 'Consolas';
  src: url("fonts/Consolas.eot?#iefix") format("embedded-opentype"), url("fonts/Consolas.woff") format("woff"), url("fonts/Consolas.ttf") format("truetype"), url("fonts/Consolas.svg#Consolas") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
	font-family: Consolas;
}